label, input{
  display:block;
}

/*body{
  padding-top: 70px;
}*/

.mainPageTop{
  text-align: center;
}

.bookThumbnail{
  width: 171px;
  height: 180px;
}

.bookDescription{
  text-align: justify;
}

.col-xs-6{
  padding-right: 5px;
  padding-left: 5px;
}

.mainHeader:link {
  text-decoration: none;
  color:#377BB5
}

.page-header{
  margin-bottom: 0px;
}

.new-book{
  max-width: 75%;
  margin: 0 auto;
}

.new-book input, textarea{
  margin: 0 0 10px 0;
}

.new-book-button{
  float: right;
  max-width: 200px;
}

.new-book-form{
  float: left;
  margin: 10px;
  width: 70%;
}

.new-book-image{
  margin: 10px 0 0 0;
  height: 260px;
  width: auto;
}

.cancel-button{
  float:right;
  margin-right: 10px;
  width: 200px;
}

.readedArea{
  display: inline-block;
}

.readedLabel{
  margin-left: 20px !important;
}

.statisticsDiv{
  width:90%;
  height: 80%;
  margin: 10px auto auto auto;
}
